.header {
  background-color: var(--accent-color);
  height: var(--header-height);
  box-shadow: var(--shadow);
}

.wrapper {
  padding-left: 62px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .wrapper {
    padding-left: 0px;
    justify-content: center;
  }
}
